@use "../utils" as u;

footer {
  background-color: u.$primary-color;
  color: #fff;

  .footer-wrapper {
    display: grid;
    grid-template-columns: 30% 55% 15%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    font-size: u.rem(14);
    line-height: u.rem(22);
    letter-spacing: u.rem(0.7);

    padding-top: u.rem(60);
    padding-bottom: u.rem(15);

    //border-bottom: 1px solid #a1e4c2;

    @include u.breakpoint-max(medium) {
      grid-template-columns: 100%;
      padding: u.rem(60) u.rem(20);
      padding-bottom: u.rem(0);
      border-bottom: unset;
    }

    * {
      text-decoration: none;
    }

    .col-1 {
      display: flex;
      flex-direction: column;
      height: inherit;
      justify-content: space-between;

      @include u.breakpoint-max(medium) {
        margin-bottom: u.rem(30);
      }
      .iden {
        .logo {
          max-width: u.rem(204);
          width: 100%;
          margin-bottom: u.rem(20);
        }
        .description {
          font-weight: 300;
          color: #ffffff;
          width: 80%;
          //margin-bottom: u.rem(50);
          @include u.breakpoint-max(medium) {
            width: 100%;
          }
        }
      }
      //   .footer-contact {
      //     @include u.breakpoint-max(medium) {
      //       display: none;
      //     }
      //     p {
      //       font-weight: 500;
      //       color: #ffffff;
      //       margin-bottom: u.rem(17);
      //     }
      //     ul {
      //       li {
      //         padding: u.rem(5) 0;
      //         a {
      //           color: white;
      //           display: flex;
      //           align-items: center;
      //           img {
      //             width: u.rem(20);
      //             height: u.rem(20);
      //             margin-right: u.rem(10);
      //           }
      //         }
      //       }
      //     }
      //   }
    }
    .col-2,
    .col-3 {
      p.title {
        line-height: u.rem(25);
        color: #fff;
        font-weight: 500;
        padding: u.rem(2.5) u.rem(10);
        border-left: 1px solid #fff;
        margin-bottom: u.rem(20);
        margin-left: u.rem(-10);

        @include u.breakpoint-max(medium) {
          margin-bottom: u.rem(20);
          border: none;
          border-top: 1px solid #fff;
          width: fit-content;
          margin-left: u.rem(0);
          padding: u.rem(30) u.rem(0);
          margin-bottom: 0;
        }
      }
      ul {
        li {
          a {
            color: #a1e4c2;
            line-height: u.rem(22);
            font-weight: 300;
            padding: u.rem(5) 0;
            display: block;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    .col-2 {
      @include u.breakpoint-max(medium) {
        margin-bottom: u.rem(30);
      }
      .services-list {
        display: flex;
        @include u.breakpoint-max(medium) {
          margin-top: u.rem(-10);
        }
        ul {
          width: 50%;
          li {
            a {
              color: #a1e4c2;
              line-height: u.rem(22);
              font-weight: 300;
              padding: u.rem(5) 0;
              display: block;
              &:hover {
                color: white;
              }
            }
          }
        }
      }
      .office-location {
        .ol-wrapper {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 10px;
          grid-row-gap: 10px;
        }
      }
    }
    .col-3 {
      .footer-contact {
        display: none;
      }
      @include u.breakpoint-max(medium) {
        ul {
          margin-top: u.rem(-10);
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          li {
            &:nth-child(1) {
              grid-area: 1 / 1 / 2 / 2;
            }
            &:nth-child(2) {
              grid-area: 2 / 1 / 3 / 2;
            }
            &:nth-child(3) {
              grid-area: 1 / 2 / 2 / 3;
            }
            &:nth-child(4) {
              grid-area: 2 / 2 / 3 / 3;
            }
            // &:nth-child(5) {
            //   grid-area: 2 / 2 / 3 / 3;
            // }
          }
        }
        .footer-contact {
          display: block;
          margin-top: u.rem(30);

          @include u.breakpoint-max(medium) {
            border-bottom: 1px solid #a1e4c2;
            padding-bottom: u.rem(20);
          }
          ul {
            li {
              a {
                color: white;
                display: flex;
                align-items: center;
                img {
                  width: u.rem(20);
                  height: u.rem(20);
                  margin-right: u.rem(10);
                }
              }
            }
          }
        }
      }
    }
  }
  .contact-footer {
    padding-top: u.rem(15);
    padding-bottom: u.rem(60);

    border-bottom: 1px solid #a1e4c2;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include u.breakpoint-max(medium) {
      padding-left: u.rem(20);
      padding-right: u.rem(20);
      padding-top: u.rem(30);
      grid-template-columns: 100%;
    }
    .contact {
      p.title {
        line-height: u.rem(25);
        color: #fff;
        font-weight: 500;
        padding: u.rem(2.5) u.rem(10);
        border-left: 1px solid #fff;
        margin-bottom: u.rem(20);
        margin-left: u.rem(-10);

        @include u.breakpoint-max(medium) {
          margin-bottom: u.rem(20);
          border: none;
          border-top: 1px solid #fff;
          width: fit-content;
          margin-left: u.rem(0);
          padding: u.rem(30) u.rem(0);
          margin-bottom: 0;
        }
      }
      ul {
        li {
          padding: u.rem(5) 0;
          a {
            color: white;
            display: flex;
            align-items: center;
            text-decoration: none;
            img {
              width: u.rem(20);
              height: u.rem(20);
              margin-right: u.rem(10);
            }
          }
        }
      }
      @include u.breakpoint-max(medium) {
        margin-bottom: u.rem(30);
      }
    }
    .office-location {
      .ol-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        @include u.breakpoint-max(medium) {
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 40px;
          grid-row-gap: 20px;
        }

        picture {
          width: 100%;
          margin-bottom: u.rem(5);
          display: block;
          img {
            width: u.rem(30);
            height: u.rem(30);
          }
        }
        .city {
          margin-bottom: u.rem(10);
          font-weight: 400;
        }

        .address {
          a {
            text-decoration: none;
            color: #a1e4c2;
            line-height: u.rem(22);
            letter-spacing: u.rem(0.7);
            font-size: u.rem(14);
            @include u.breakpoint-max(medium) {
              font-size: u.rem(12);
              line-height: u.rem(16);
              letter-spacing: u.rem(0.6);
            }
          }
          &:hover {
            a {
              color: white;
            }
          }
        }
      }
    }
  }
  .support-wrapper {
    padding: u.rem(20) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include u.breakpoint-max(medium) {
      padding: u.rem(20) u.rem(25);
    }
    p {
      font-size: u.rem(14);
      letter-spacing: u.rem(0.7);
      line-height: u.rem(22);
      color: #fff;
      font-weight: 300;
      a {
        font-weight: 500;
        text-decoration: none;
        color: white;
      }
    }
    ul {
      @include u.breakpoint-max(medium) {
        margin-top: u.rem(20);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      li {
        display: inline-block;
        &:not(:first-child) {
          margin-left: u.rem(20);
        }
        a {
          img {
            width: u.rem(20);
            height: u.rem(20);
            object-fit: contain;
          }
        }
      }
    }
  }
  .copyright-wrapper {
    background: #fff;
    color: #b2b2b2;

    padding: u.rem(20) u.rem(25);
    .cp-cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      font-weight: 300;
      font-size: u.rem(14);

      ul {
        @include u.breakpoint-max(small) {
          width: 100%;
        }
        li {
          display: inline-block;

          @include u.breakpoint-max(medium) {
            margin-top: u.rem(15);
          }

          &:first-child {
            border-right: 1px solid #b2b2b2;
            padding-right: u.rem(15);
          }
          &:last-child {
            padding-left: u.rem(15);
          }
          a {
            color: #b2b2b2;
            text-decoration: none;
          }
        }
      }
    }
  }
}
