@use "../utils" as u;

main {
  background-image: url(../images/hero/hero-bg.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: u.rem(90);
  @include u.breakpoint-max(medium) {
    padding-top: u.rem(65);
    background-size: 500%;
    background-position: 62.5% top;
  }
  section {
    max-width: u.rem(1140);
    width: 100%;
    margin: 0 auto;
    position: relative;

    &.hero {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        width: 57.5%;
        height: 200%;
        background-color: rgba(255, 255, 255, 0.504);
        backdrop-filter: blur(10px);
        z-index: 0;

        @include u.breakpoint-max(medium) {
          display: none;
        }
      }
      .content {
        padding: u.rem(25);
        max-width: u.rem(1140);
        width: 100%;
        margin: 0 auto;
        position: relative;

        .content-text {
          h1 {
            max-width: u.rem(585);
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-size: u.rem(55);
            font-weight: 500;
            letter-spacing: u.rem(1.1);
            line-height: u.rem(75);
            color: u.$text-color;
            @include u.breakpoint-max(medium) {
              max-width: unset;
              text-align: center;
              font-size: u.rem(38);
              letter-spacing: u.rem(0.76);
              line-height: u.rem(57);
            }
          }
          .description {
            max-width: u.rem(585);
            width: 100%;
            font-family: "Poppins", sans-serif;
            font-size: u.rem(16);
            font-weight: 300;
            letter-spacing: u.rem(0.8);
            line-height: u.rem(25);
            color: u.$text-color;
            margin-top: u.rem(30);
            @include u.breakpoint-max(medium) {
              max-width: unset;
              text-align: center;
              font-size: u.rem(18);
              letter-spacing: u.rem(0.9);
              line-height: u.rem(30);
            }
          }
          .button-container {
            margin-top: u.rem(30);
            @include u.breakpoint-max(medium) {
              margin-top: u.rem(128);
            }
            a {
              font-family: "Poppins", sans-serif;
              font-size: u.rem(16);
              font-weight: 500;
              margin-right: u.rem(20);
              max-width: u.rem(205);
              width: 100%;
              display: inline-block;
              padding: u.rem(15);
              text-decoration: none;
              border-radius: u.rem(24);
              text-align: center;

              @include u.breakpoint-max(medium) {
                max-width: unset;
                margin-right: unset;
              }

              &:nth-child(1) {
                background-color: u.$background-color;
                color: u.$primary-color;
                outline: 1px solid u.$primary-color;
                @include u.breakpoint-max(medium) {
                  background-color: unset;
                  outline: 1px solid u.$background-color;
                  color: u.$background-color;
                }
              }
              &:nth-child(2) {
                background-color: u.$primary-color;
                color: u.$background-color;

                @include u.breakpoint-max(medium) {
                  margin-top: u.rem(10);
                }
              }
            }
          }
        }
      }
      max-width: unset;
      min-height: calc(100vh - u.rem(90));
      @include u.breakpoint-max(medium) {
        min-height: calc(100vh - u.rem(60));
      }
    }
    &.partners {
      min-height: unset;
      .partners__wrapper {
        display: flex;
        flex-wrap: wrap;
        @include u.breakpoint-max(medium) {
          justify-content: center;
          background-color: white;
          padding-top: u.rem(25);
        }
        &__wrap {
          width: 20%;
          background-color: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(u.rem(30));
          display: flex;
          align-items: center;
          justify-content: center;
          height: u.rem(114);
          border: 1px u.$background-color solid;

          @include u.breakpoint-max(medium) {
            all: unset;
            height: u.rem(80);
            width: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          @include u.breakpoint-max(medium) {
            width: 50%;
          }

          img {
            width: u.rem(118);
            object-fit: cover;
            @include u.breakpoint-max(medium) {
              width: 70%;
            }
          }
        }
      }
    }
    &.services {
      padding: u.rem(25);
      padding-top: u.rem(100);
      background-color: u.$background-color;
      text-align: center;

      @include u.breakpoint-max(medium) {
        padding-top: u.rem(87);
      }

      p.title-desc {
        max-width: u.rem(602);
        width: 100%;
        margin: 0 auto;
        margin-top: u.rem(15);
      }

      .services-wrapper {
        margin-top: u.rem(55);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: relative;
        overflow: hidden;
        // height: u.rem(585);
        padding-bottom: u.rem(50);
        transition: height 0.5s;

        @include u.breakpoint-max(large) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include u.breakpoint-max(medium) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include u.breakpoint-max(small) {
          grid-template-columns: repeat(1, 1fr);
        }

        &::before {
          content: "";
          position: absolute;
          height: 15%;
          width: 100%;
          bottom: 0;
          right: 0;
          left: 0;
          background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #fff);
        }

        &.show {
          padding-bottom: unset;
          // max-height: 100%;
          // height: 1000px;
          &::before {
            content: unset;
          }
        }

        .services-cont {
          padding: u.rem(10);

          border-bottom: 1px solid u.$primary-color;
          border-left: 1px solid u.$primary-color;
          margin-left: -2px;
          margin-bottom: -2px;
          .inner-cont {
            padding: u.rem(40) u.rem(20);
            h3 {
              color: #000;
              font-family: "Poppins", sans-serif;
              font-size: u.rem(16);
              letter-spacing: u.rem(0.8);
              line-height: u.rem(25);
              font-weight: 500;
              margin-bottom: u.rem(5);
              text-align: left;
              @include u.breakpoint-max(small) {
                text-align: center;
              }
            }
            p {
              @include u.breakpoint-max(small) {
                text-align: center;
              }
            }
          }

          &:hover {
            .inner-cont {
              background-color: u.$secondary-background-color;
              cursor: pointer;

              h3 {
                color: u.$primary-color;
              }
            }
          }
        }
      }

      .show-more {
        margin-top: u.rem(50);
        text-align: center;
        max-width: u.rem(204);
        width: 100%;
        padding: u.rem(14);
        background: u.$background-color;
        border: 1px solid u.$primary-color;
        color: u.$primary-color;
        border-radius: u.rem(24);
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-size: u.rem(14);
        letter-spacing: u.rem(0.28);
        line-height: u.rem(17);
        font-weight: 500;
      }
    }
    &.offer {
      p.title-desc {
        margin-top: u.rem(15);
      }

      .offer-wrapper {
        margin-top: u.rem(70);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: u.rem(23);
        grid-row-gap: u.rem(23);

        @include u.breakpoint-max(large) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include u.breakpoint-max(medium) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include u.breakpoint-max(small) {
          grid-template-columns: repeat(1, 1fr);
        }

        .offer-cont {
          padding: u.rem(30) u.rem(25);
          background-color: u.$secondary-background-color;
          border-radius: u.rem(24);

          h3 {
            color: #000;
            font-family: "Poppins", sans-serif;
            font-size: u.rem(16);
            letter-spacing: u.rem(0.8);
            line-height: u.rem(25);
            font-weight: 500;
            margin-bottom: u.rem(5);
            text-align: left;
            @include u.breakpoint-max(small) {
              text-align: center;
            }
          }
          p {
            @include u.breakpoint-max(small) {
              text-align: center;
            }
          }

          &:hover {
            background-color: u.$background-color;
            cursor: pointer;
            outline: 1px solid u.$primary-color;

            h3 {
              color: u.$primary-color;
            }
          }
        }
      }
    }
  }
}
