@use "../utils" as u;

main.homepage {
  background-image: url(../images/hero/hero-bg.jpg);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: u.rem(90);
  @include u.breakpoint-max(medium) {
    padding-top: u.rem(65);
    background-size: 500%;
    background-position: 62.5% top;
  }
  section {
    position: relative;

    &.hero {
      display: flex;
      align-items: center;
      max-width: unset;
      min-height: calc(100vh - u.rem(90));

      @include u.breakpoint-max(medium) {
        min-height: calc(100vh - u.rem(65));
      }

      &::before {
        content: "";
        position: absolute;
        width: 57.5%;
        height: 200%;
        background-color: rgba(255, 255, 255, 0.504);
        backdrop-filter: blur(10px);
        z-index: 0;

        @include u.breakpoint-max(medium) {
          display: none;
        }
      }
      .content {
        position: relative;

        @include u.breakpoint-max(large) {
          padding: u.rem(25);
        }

        .content-text {
          h1 {
            max-width: u.rem(585);
            width: 100%;

            font-size: u.rem(55);
            font-weight: 500;
            letter-spacing: u.rem(1.1);
            line-height: u.rem(75);
            //color: u.$text-color;
            color: #202332;
            @include u.breakpoint-max(medium) {
              max-width: unset;
              text-align: center;
              font-size: u.rem(38);
              letter-spacing: u.rem(0.76);
              line-height: u.rem(57);
            }
          }
          .description {
            max-width: u.rem(585);
            width: 100%;

            font-size: u.rem(16);
            font-weight: 300;
            letter-spacing: u.rem(0.8);
            line-height: u.rem(25);
            color: u.$text-color;
            margin-top: u.rem(30);
            @include u.breakpoint-max(medium) {
              max-width: unset;
              text-align: center;
              font-size: u.rem(18);
              letter-spacing: u.rem(0.9);
              line-height: u.rem(30);
            }
          }
          .button-container {
            margin-top: u.rem(30);
            @include u.breakpoint-max(medium) {
              margin-top: u.rem(128);
            }
            a {
              font-size: u.rem(16);
              font-weight: 500;
              margin-right: u.rem(20);
              max-width: u.rem(205);
              width: 100%;
              display: inline-block;
              padding: u.rem(15);
              text-decoration: none;
              border-radius: u.rem(24);
              text-align: center;

              @include u.breakpoint-max(medium) {
                max-width: unset;
                margin-right: unset;
              }

              &:nth-child(1) {
                background-color: u.$background-color;
                color: u.$primary-color;
                outline: 1px solid u.$primary-color;
                @include u.breakpoint-max(medium) {
                  background-color: unset;
                  outline: 1px solid u.$background-color;
                  color: u.$background-color;
                }
              }
              &:nth-child(2) {
                background-color: u.$primary-color;
                color: u.$background-color;

                @include u.breakpoint-max(medium) {
                  margin-top: u.rem(10);
                }
              }
            }
          }
        }
      }
    }
    &.partners {
      min-height: unset;
      .partners__wrapper {
        display: flex;
        flex-wrap: wrap;

        @include u.breakpoint-max(medium) {
          justify-content: center;
          background-color: white;
          padding-top: u.rem(25);
        }
        &__wrap {
          width: 20%;
          background-color: rgba(255, 255, 255, 0.3);
          backdrop-filter: blur(u.rem(30));
          display: flex;
          align-items: center;
          justify-content: center;
          height: u.rem(114);
          border: 1px u.$background-color solid;

          @include u.breakpoint-max(medium) {
            all: unset;
            height: u.rem(80);
            width: 33.33%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          @include u.breakpoint-max(medium) {
            width: 50%;
          }

          img {
            width: u.rem(118);
            object-fit: cover;
            @include u.breakpoint-max(medium) {
              width: 70%;
            }
          }
        }
      }
    }
    &.services {
      padding: u.rem(25);
      padding-top: u.rem(100);
      //background-color: u.$background-color;
      background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #fff);
      text-align: center;

      @include u.breakpoint-max(medium) {
        background-color: u.$background-color;
        padding-top: u.rem(87);
      }

      p.title-desc {
        max-width: u.rem(602);
        width: 100%;
        margin: 0 auto;
        margin-top: u.rem(15);
      }

      .services-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        position: relative;
        overflow: hidden;
        // height: u.rem(585);
        padding-bottom: u.rem(50);
        transition: height 0.5s;
        margin-top: u.rem(55);

        @media (max-width: u.rem(1140)) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include u.breakpoint-max(medium) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include u.breakpoint-max(small) {
          grid-template-columns: repeat(1, 1fr);
        }

        &::before {
          content: "";
          position: absolute;
          height: 15%;
          width: 100%;
          bottom: 0;
          right: 0;
          left: 0;
          background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #fff);
        }

        &.show {
          padding-bottom: unset;
          // max-height: 100%;
          // height: 1000px;
          &::before {
            content: unset;
          }
        }

        .services-cont {
          padding: u.rem(10);

          border-bottom: 1px solid u.$primary-color;
          border-left: 1px solid u.$primary-color;
          margin-left: -2px;
          margin-bottom: -2px;

          text-decoration: none;

          color: #000;
          .inner-cont {
            padding: u.rem(40) u.rem(20);
            h3 {
              color: #000;

              font-size: u.rem(16);
              letter-spacing: u.rem(0.8);
              line-height: u.rem(25);
              font-weight: 500;
              margin-bottom: u.rem(5);
              text-align: left;
              @include u.breakpoint-max(small) {
                text-align: center;
              }
            }
            p {
              @include u.breakpoint-max(small) {
                text-align: center;
              }
            }
          }

          &:hover {
            .inner-cont {
              background-color: u.$secondary-background-color;
              cursor: pointer;

              h3 {
                color: u.$primary-color;
              }
            }
          }
        }
      }

      .show-more {
        margin-top: u.rem(50);
        text-align: center;
        max-width: u.rem(204);
        width: 100%;
        padding: u.rem(14);
        background: u.$background-color;
        border: 1px solid u.$primary-color;
        color: u.$primary-color;
        border-radius: u.rem(24);
        cursor: pointer;

        font-size: u.rem(14);
        letter-spacing: u.rem(0.28);
        line-height: u.rem(17);
        font-weight: 500;
      }
    }
    &.offer {
      text-align: center;

      p.title-desc {
        margin-top: u.rem(15);
      }

      .offer-wrapper {
        margin-top: u.rem(70);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: u.rem(23);
        grid-row-gap: u.rem(23);

        position: relative;
        overflow: hidden;
        padding: 1px;
        transition: height 0.5s;

        @media (max-width: u.rem(1140)) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include u.breakpoint-max(medium) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include u.breakpoint-max(small) {
          grid-template-columns: repeat(1, 1fr);
        }

        &::before {
          content: "";
          position: absolute;
          height: 15%;
          width: 100%;
          bottom: 0;
          right: 0;
          left: 0;
          background-image: linear-gradient(180deg, rgba(255, 0, 0, 0), #fff);
        }

        &.show {
          padding-bottom: unset;
          padding-bottom: 3px;
          // max-height: 100%;
          // height: 1000px;
          &::before {
            content: unset;
          }
        }

        .offer-cont {
          padding: u.rem(30) u.rem(25);
          background-color: u.$secondary-background-color;
          border-radius: u.rem(24);

          picture {
            display: block;
            width: 100%;
            margin-bottom: u.rem(20);
            text-align: right;

            @include u.breakpoint-max(medium) {
              text-align: center;
            }
          }

          h3 {
            color: #000;

            font-size: u.rem(16);
            letter-spacing: u.rem(0.8);
            line-height: u.rem(25);
            font-weight: 500;
            margin-bottom: u.rem(5);
            text-align: left;
            @include u.breakpoint-max(medium) {
              text-align: center;
            }
          }
          p {
            @include u.breakpoint-max(medium) {
              text-align: center;
            }
          }

          &:hover {
            background-color: u.$background-color;
            cursor: pointer;
            outline: 1px solid u.$primary-color;

            h3 {
              color: u.$primary-color;
            }
          }
        }
      }
      .show-more {
        margin-top: u.rem(10);
        text-align: center;
        max-width: u.rem(204);
        width: 100%;
        padding: u.rem(14);
        background: u.$background-color;
        border: 1px solid u.$primary-color;
        color: u.$primary-color;
        border-radius: u.rem(24);
        cursor: pointer;

        font-size: u.rem(14);
        letter-spacing: u.rem(0.28);
        line-height: u.rem(17);
        font-weight: 500;
      }
    }
    &.strategy {
      //min-height: 200vh;
      max-width: unset;

      background-image: url("../images/strategy/background-bg.png");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;

      padding-top: u.rem(100);

      @include u.breakpoint-max(medium) {
        padding-top: u.rem(0);
      }
      .strat-main-wrapper {
        .strategy__title__wrapper {
          .inner_cont {
            display: flex;
            flex-direction: row;
            & > div {
              width: 50%;
              &:nth-child(1) {
                @include u.breakpoint-max(medium) {
                  width: 100%;
                }
              }
              &:nth-child(2) {
                @include u.breakpoint-max(medium) {
                  display: none;
                }
              }

              h2 {
                text-align: left;
                max-width: u.rem(474);
                width: 100%;
                position: relative;
                z-index: 1;
                @include u.breakpoint-max(medium) {
                  max-width: unset;
                  text-align: center;
                  width: 80%;
                  margin: 0 auto;
                }
              }

              hr {
                margin-top: u.rem(40);
                height: u.rem(2);
                background-color: u.$primary-color;
                border: none;
              }
            }
          }
        }
        .strategy__title__cont {
          display: flex;
          width: 100%;
          justify-content: end;
          margin-top: u.rem(-75);
          @include u.breakpoint-max(medium) {
            margin-top: u.rem(-35);
          }
          @include u.breakpoint-max(small) {
            margin-top: u.rem(-55);
          }

          .common-description {
            max-width: u.rem(858);
            width: 100%;

            text-align: left;
            background-color: u.$secondary-background-color;
            padding: u.rem(105) u.rem(70) u.rem(50) u.rem(70);
            border-radius: u.rem(24);
            color: #000;

            animation: bannerImgBounce 5s ease-in-out 0s infinite alternate;

            @include u.breakpoint-max(medium) {
              padding: u.rem(75) u.rem(50) u.rem(22) u.rem(50);
              text-align: center;
            }
            @include u.breakpoint-max(small) {
              padding-left: u.rem(25);
              padding-right: u.rem(25);
            }
          }
        }
        @media (max-width: u.rem(1140)) {
          padding-left: u.rem(25);
          padding-right: u.rem(25);
        }
      }
      .strat-title {
        max-width: u.rem(900);
        width: 100%;
        margin: 0 auto;
        margin-top: u.rem(150);
        margin-bottom: u.rem(40);
        @media (max-width: u.rem(1140)) {
          padding-left: u.rem(25);
          padding-right: u.rem(25);
        }
      }

      .strat-slider-wrapper {
        @media (max-width: u.rem(1140)) {
          padding-left: u.rem(25);
          padding-right: u.rem(25);
        }

        // Your existing SCSS styles
        .tabs {
          display: flex;
          justify-content: center;
          padding: u.rem(5);
          background-color: hsla(0, 0%, 100%, 0.4);
          max-width: fit-content;
          overflow: hidden;
          border-radius: u.rem(42);
          margin: 0 auto;
          margin-bottom: u.rem(80);

          @media (max-width: 768px) {
            display: none;
          }

          .tab {
            padding: 10px 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            color: u.$text-color;

            font-size: u.rem(14);
            font-weight: 500;
            letter-spacing: u.rem(0.7);
            line-height: u.rem(22);

            padding: u.rem(13) u.rem(40);

            &.active {
              background-color: u.$primary-color;
              border-radius: u.rem(42);
              color: u.$background-color;
            }
          }
        }
        .strat-swiper-cont {
          margin: 0 auto;
          max-width: 100%; // Adjust the maximum width as needed
          //overflow: hidden; // Prevent slider from

          .swiper-wrapper {
            .swiper-slide {
              opacity: 0; // Initial opacity set to 0 for fade effect
              transition: opacity 0.1s; // Set the desired transition duration
              &.swiper-slide-active {
                opacity: 1 !important; // Active slide opacity set to 1 for fade-in
              }

              &.swiper-slide-next,
              &.swiper-slide-prev {
                opacity: 0 !important; // Inactive slide opacity set to 0 for fade-out
              }

              &.swiper-slide-duplicate-next,
              &.swiper-slide-duplicate-prev {
                opacity: 0 !important; // Additional slides in loop should also be faded out
              }
              .strat-inner-cont {
                //backdrop-filter: blur(u.rem(15)) !important;
                background-color: rgba(255, 255, 255, 0.6);
                padding: u.rem(60) u.rem(70);
                border-radius: u.rem(24);

                display: flex;
                flex-direction: row;
                //align-items: center;
                justify-content: center;

                min-height: u.rem(400);
                @include u.breakpoint-max(medium) {
                  flex-direction: column;
                  padding: u.rem(30) u.rem(20);
                  text-align: center;
                }

                .text-cont {
                  width: 45%;
                  @media (max-width: u.rem(1200)) {
                    width: 60%;
                  }
                  @include u.breakpoint-max(medium) {
                    width: 100%;
                  }
                  h3 {
                    font-size: u.rem(32);
                    font-weight: 500;
                    letter-spacing: u.rem(0.64);
                    line-height: u.rem(45);
                    color: 000;
                    margin-bottom: u.rem(20);
                    @include u.breakpoint-max(medium) {
                      font-size: u.rem(24);
                      font-weight: 500;
                      letter-spacing: u.rem(0.48);
                      line-height: u.rem(35);
                    }
                  }
                  p {
                    font-size: u.rem(16);
                    font-weight: 400;
                    letter-spacing: u.rem(0.9);
                    line-height: u.rem(24);
                    color: #000;
                    margin-bottom: u.rem(20);
                  }
                  ul {
                    margin-bottom: u.rem(20);
                    list-style: circle;
                    margin-left: u.rem(20);

                    font-size: u.rem(16);
                    font-weight: 400;
                    letter-spacing: u.rem(0.9);
                    line-height: u.rem(24);
                    color: #000;
                    margin-bottom: u.rem(40);
                    @include u.breakpoint-max(medium) {
                      text-align: left;
                    }
                  }
                  a {
                    font-size: u.rem(14);
                    font-weight: 500;
                    letter-spacing: u.rem(0.7);
                    line-height: u.rem(22);
                    background-color: u.$primary-color;
                    padding: u.rem(13) u.rem(40);
                    text-decoration: none;
                    color: u.$background-color;
                    border-radius: u.rem(42);

                    @include u.breakpoint-max(medium) {
                      display: none;
                    }
                  }
                }
                .image-cont {
                  //position: relative;
                  width: 55%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: max-content;
                  flex-direction: column;
                  @media (max-width: u.rem(1200)) {
                    width: 40%;
                  }
                  @include u.breakpoint-max(medium) {
                    width: 100%;
                  }
                  a {
                    display: none;
                    @include u.breakpoint-max(medium) {
                      display: block;
                      margin-top: u.rem(40);

                      font-size: u.rem(14);
                      font-weight: 500;
                      letter-spacing: u.rem(0.7);
                      line-height: u.rem(22);
                      background-color: u.$primary-color;
                      padding: u.rem(13);
                      width: 90%;
                      text-decoration: none;
                      color: u.$background-color;
                      border-radius: u.rem(42);
                    }
                  }

                  img {
                    position: absolute;
                    bottom: u.rem(-75);
                    width: 45%;
                    animation: bannerImgBounce 5s ease-in-out 0s infinite
                      alternate;

                    @media (max-width: u.rem(1200)) {
                      position: relative;
                      width: 100%;
                      bottom: u.rem(0);
                    }
                    @include u.breakpoint-max(medium) {
                      width: 80%;
                    }
                  }
                }
              }
            }
          }

          .swiper-button-next,
          .swiper-button-prev {
            color: #c3c3c3;
            top: var(--swiper-navigation-top-offset, 42%);
            z-index: 1;
            @media (min-width: 769px) {
              display: none;
            }
          }
          .swiper-button-next:after,
          .swiper-button-prev:after {
            font-size: u.rem(30);
            font-weight: bold;
          }
          .swiper-button-prev,
          .swiper-rtl .swiper-button-next {
            left: var(--swiper-navigation-sides-offset, 30px);
          }
          .swiper-button-next,
          .swiper-rtl .swiper-button-prev {
            right: var(--swiper-navigation-sides-offset, 30px);
          }

          .slider {
            overflow: hidden;
            white-space: nowrap;

            .slide-item {
              display: inline-block;
              width: 100%;
              white-space: normal;
            }
          }
        }
      }

      .helping-cont {
        margin-top: u.rem(150);
        text-align: center;
        @media (max-width: u.rem(1140)) {
          padding-left: u.rem(25);
          padding-right: u.rem(25);
        }
        @include u.breakpoint-max(medium) {
          margin-top: u.rem(70);
        }

        h2 {
          font-size: u.rem(55);
          font-weight: 500;
          letter-spacing: u.rem(1.1);
          line-height: u.rem(75);
          color: u.$background-color;
          margin-bottom: u.rem(10);

          @include u.breakpoint-max(medium) {
            font-size: u.rem(24);
            letter-spacing: u.rem(0.48);
            line-height: u.rem(35);
          }
        }
        p {
          font-size: u.rem(14);
          font-weight: 300;
          letter-spacing: u.rem(0.7);
          line-height: u.rem(22);
          color: u.$background-color;
          margin-bottom: u.rem(20);
          @include u.breakpoint-max(medium) {
            margin-bottom: u.rem(30);
          }
        }
        a {
          font-size: u.rem(14);
          font-weight: 500;

          max-width: u.rem(205);
          width: 100%;
          display: inline-block;
          padding: u.rem(14);
          text-decoration: none;
          border-radius: u.rem(24);
          text-align: center;
          background-color: u.$background-color;
          color: u.$primary-color;
          //outline: 1px solid u.$primary-color;

          @include u.breakpoint-max(medium) {
            max-width: unset;
          }
        }
      }

      .agency {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: u.rem(120);
        flex-wrap: wrap;

        & > {
          div {
            width: 50%;
            overflow: hidden;

            @include u.breakpoint-max(medium) {
              width: 100%;
            }
          }
        }

        .agency-icons {
          padding-top: u.rem(80);
          padding-bottom: u.rem(80);
          background-color: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(u.rem(15));

          @include u.breakpoint-max(medium) {
            padding-top: u.rem(30);
            padding-bottom: u.rem(30);
          }

          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          .icons-cont {
            width: 100%;
            ul {
              display: flex;
              column-gap: u.rem(24);
              gap: u.rem(24);
              li {
                //width: calc(100 / 10);
                display: flex;
                align-items: center;
                padding: u.rem(15);
                background-color: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(u.rem(5));
                border-radius: u.rem(12);
                img {
                  width: u.rem(150);
                  height: u.rem(35);
                }
              }

              &:nth-child(odd) {
                animation: scrollingLeft 30s linear infinite;
              }
              &:nth-child(even) {
                animation: scrollingRight 30s linear infinite;
              }
              &:not(:last-child) {
                margin-bottom: u.rem(24);
              }
            }
          }
        }
        .agency-cont {
          padding-top: u.rem(47.5);
          padding-bottom: u.rem(47.5);
          padding-left: u.rem(70);
          background-color: u.$background-color;
          @media (max-width: u.rem(1140)) {
            padding-left: u.rem(50);
            padding-right: u.rem(25);
          }
          @media (max-width: u.rem(1024)) {
            padding-top: u.rem(35);
            padding-bottom: u.rem(35);
            padding-left: u.rem(25);
          }
          @include u.breakpoint-max(medium) {
            box-shadow: 0px 35px 110px #66dba3;
          }
          .text-cont {
            max-width: u.rem(474);
            @include u.breakpoint-max(medium) {
              max-width: unset;
            }
            h3 {
              font-size: u.rem(32);
              font-weight: 500;
              letter-spacing: u.rem(0.64);
              line-height: u.rem(45);
              color: 000;
              margin-bottom: u.rem(20);
              @include u.breakpoint-max(medium) {
                font-size: u.rem(24);
                font-weight: 500;
                letter-spacing: u.rem(0.48);
                line-height: u.rem(35);
                text-align: center;
              }
            }
            p {
              color: #000;
              text-align: left;

              @include u.breakpoint-max(medium) {
                text-align: center;
              }
            }
          }
        }
      }
    }
    &.faq {
      background-image: url(../images/faq/bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      .faq-main-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & > div {
          width: 50%;
          @include u.breakpoint-max(medium) {
            width: 100%;
          }
        }
        .faq-title-cont {
          h2 {
            text-align: left;
          }
        }
        .faq-accor-wrapper {
          .accordion {
            width: 100%;
            margin: 20px auto;

            &-item {
              border-bottom: 1px solid #000;
              margin-bottom: u.rem(20);

              &.open {
                border-bottom: 1px solid u.$primary-color;
                .accordion-title {
                  color: u.$primary-color;

                  .indicator {
                    width: u.rem(24);
                    height: u.rem(24);
                    display: block;
                    background-image: url(../images/faq/arrow-up-web.svg);
                    @include u.breakpoint-max(medium) {
                      background-image: url(../images/faq/arrow-up.svg);
                      width: u.rem(12);
                      height: u.rem(12);
                    }
                  }
                }
                .accordion-content {
                  display: block;
                  font-size: u.rem(14);
                  line-height: u.rem(22);
                  letter-spacing: u.rem(0.7);
                  font-weight: 300;

                  color: #000;
                }
              }

              .accordion-title {
                padding: 20px 40px 20px 10px;
                //background-color: #f0f0f0;
                cursor: pointer;
                display: flex;
                // justify-content: space-between;
                align-items: center;
                position: relative;

                font-size: u.rem(18);
                line-height: u.rem(25);
                letter-spacing: u.rem(0.9);
                font-weight: 500;

                @include u.breakpoint-max(medium) {
                  font-size: u.rem(16);
                  letter-spacing: u.rem(0.8);
                  padding: 20px 40px 20px 0px;
                }

                .indicator {
                  display: none;
                  height: u.rem(12);
                  width: u.rem(12);
                  background-image: url(../images/faq/arrow-down.svg);
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  position: absolute;
                  right: u.rem(10);
                  @include u.breakpoint-max(medium) {
                    display: block;
                  }
                }

                .accordion-icon {
                  width: u.rem(20);
                }
              }

              .accordion-content {
                //display: none;
                padding: 10px;
                @include u.breakpoint-max(medium) {
                  padding: 0 10px 20px 0;
                }
              }
            }
          }
        }
      }
    }

    &.contact-us {
      background: transparent
        linear-gradient(90deg, #f2fff800 0%, #f2fff88b 34%, #f2fff8 100%) 0% 0%
        no-repeat padding-box;
      @include u.breakpoint-max(medium) {
        padding-top: u.rem(40);
        padding-bottom: u.rem(40);
      }

      h3 {
        font-size: u.rem(32);
        font-weight: 500;
        letter-spacing: u.rem(0.64);
        line-height: u.rem(45);
        color: 000;

        @include u.breakpoint-max(medium) {
          text-align: center;
        }
      }
      a.qoute,
      input[type="submit"] {
        font-size: u.rem(14);
        font-weight: 500;
        letter-spacing: u.rem(0.7);
        line-height: u.rem(22);
        background-color: u.$primary-color;
        padding: u.rem(13) u.rem(40);
        text-decoration: none;
        color: u.$background-color;
        border-radius: u.rem(42);
        display: inline-block;

        @include u.breakpoint-max(medium) {
          width: 90%;
        }
      }
      .contact-us-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & > div {
          width: 50%;
          @include u.breakpoint-max(medium) {
            width: 100%;
          }
        }

        .ads {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .upper-part {
            @include u.breakpoint-max(medium) {
              text-align: center;
              margin-bottom: u.rem(50);
            }
            h3 {
              max-width: u.rem(365);
              @include u.breakpoint-max(medium) {
                max-width: 100%;
              }
            }
            a {
              margin-top: u.rem(20);
            }
          }
          .lower-part {
            text-align: center;
            max-width: 90%;
            width: 100%;
            @include u.breakpoint-max(medium) {
              max-width: unset;
            }
            p {
              font-size: u.rem(14);
              letter-spacing: u.rem(0.7);
              line-height: u.rem(22);
              font-weight: 500;
              margin-bottom: u.rem(25);
            }
            ul {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              gap: u.rem(10);
              li {
                width: 32%;
                @include u.breakpoint-max(medium) {
                  width: 31.3%;
                }
                a {
                  display: block;
                  width: 80%;
                  @include u.breakpoint-max(medium) {
                    width: 95%;
                    margin: 0 auto;
                  }
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
          @include u.breakpoint-max(medium) {
            margin-bottom: u.rem(30);
          }
        }
        .form-group {
          form {
            margin-top: u.rem(20);
            display: flex;
            flex-direction: column;
            gap: u.rem(10);

            position: relative;

            input:not([type="submit"]),
            select,
            textarea {
              width: 100%;
              background-color: u.$background-color;
              border: 1px solid #15bb6633;
              padding: u.rem(18) u.rem(20);
              border-radius: u.rem(12);

              font-size: u.rem(14);
              font-weight: 300;
              letter-spacing: u.rem(0.7);
              line-height: u.rem(22);

              &:focus {
                outline: none !important;
              }

              &::placeholder {
                color: #b2b2b2;
              }
            }
            select {
              appearance: none;
              background-image: url("../images/form/arrow-down.svg");
              background-repeat: no-repeat;
              background-size: u.rem(20);
              background-position: 97.5% center;

              // &:focus {
              //   background-image: url("../images/faq/arrow-up.svg");
              // }

              &:required:invalid {
                color: #b2b2b2;
                option {
                  color: black;
                  &[value=""][disabled] {
                    display: none;
                  }
                }
              }
            }

            input[type="submit"] {
              border: none;
              width: max-content;
              margin-top: u.rem(33);
              @include u.breakpoint-max(medium) {
                width: 100%;
                margin: 0 auto;
                margin-top: u.rem(10);
              }
            }

            #confirmationMessage {
              position: absolute;
              background: rgb(243 255 248 / 30%);
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              //display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              border-radius: 20px;
              padding: 20px;
              backdrop-filter: blur(6px);
            }

            .disclaimer {
              display: block;
              margin-top: u.rem(20);
              font-size: u.rem(12);
              line-height: u.rem(16);
              letter-spacing: u.rem(0.6);
              font-weight: 300;
              color: #b2b2b2;

              @include u.breakpoint-max(medium) {
                line-height: u.rem(18);
              }
            }
          }
        }
      }
    }
  }
}
