@use "../utils" as u;

main.social-media {
  padding-top: u.rem(90);
  @include u.breakpoint-max(medium) {
    padding-top: u.rem(65);
  }

  section {
    &.hero-container {
      background: transparent
        linear-gradient(
          90deg,
          rgba(242, 255, 248, 0) 0%,
          rgba(242, 255, 248, 0.5450980392) 34%,
          #f2fff8 100%
        )
        0% 0% no-repeat padding-box;

      min-height: calc(100vh - u.rem(90));
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      padding: u.rem(60) u.rem(25);

      @include u.breakpoint-max(medium) {
        min-height: calc(50vh - u.rem(65));
      }

      .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: u.rem(1020);
        width: 100%;

        .hero-item {
          margin-bottom: u.rem(50);
          @include u.breakpoint-max(medium) {
            margin-bottom: u.rem(30);
          }
          h1.title {
            max-width: 100%;
            margin-bottom: u.rem(50);
            font-size: u.rem(55);
            font-weight: 500;
            letter-spacing: u.rem(1.1);
            line-height: u.rem(75);

            color: #202332;
            @include u.breakpoint-max(medium) {
              margin-bottom: u.rem(30);
              font-size: u.rem(38);
              letter-spacing: u.rem(0.76);
              line-height: u.rem(57);
            }
          }
          p.desc {
            font-size: u.rem(24);
            font-weight: 400;
            line-height: 1.2;
            max-width: u.rem(749);
            width: 100%;
            margin: 0 auto;

            @include u.breakpoint-max(medium) {
              font-size: u.rem(18);
            }
          }
        }
        .hero-button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: u.rem(100);
          @include u.breakpoint-max(medium) {
            width: 100%;
            margin-bottom: u.rem(50);
          }
          a {
            text-decoration: none;
            display: inline-block;
            width: u.rem(360);
            font-weight: 500;

            font-size: u.rem(20);
            line-height: u.rem(70);

            @include u.breakpoint-max(medium) {
              width: 100%;
            }

            &:first-child {
              background-color: u.$primary-color;
              color: u.$background-color;
              z-index: 2;
              position: relative;
              overflow: hidden;
              &:hover {
                &::after {
                  left: 0;
                  right: auto;
                  width: 150%;
                }
              }

              &::after {
                content: "";
                background: #108f4e;
                right: -20%;
                z-index: -1;
                width: 0%;
                -webkit-transform: skew(-45deg);
                transform: skew(-45deg);
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;

                position: absolute;
                top: 0;
                display: block;
                height: 100%;
              }
            }
            &:last-child {
              color: u.$primary-color;
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                color: #000;
              }
              button {
                display: block;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                margin-left: u.rem(20);
                outline: 1px solid u.$primary-color;
                border: none;
                background-color: transparent;
                background-image: url(../images/social-media-page/hero/right-arrow-primary.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: u.rem(20);
                cursor: pointer;
              }

              &:hover {
                button {
                  background-image: url(../images/social-media-page/hero/right-arrow-light.svg);
                  background-color: u.$primary-color;
                }
              }

              @include u.breakpoint-max(medium) {
                display: none;
              }
            }
          }
        }
        .hero-partner {
          display: grid;
          grid-auto-flow: column;
          grid-gap: u.rem(68);

          .hero-partners {
            margin: 0;
            max-height: u.rem(30);
            height: 100%;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
              height: 100%;
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }

          @include u.breakpoint-max(medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            grid-gap: unset;
            row-gap: 20px;
            .hero-partners {
              width: 33.33%;
              img {
                width: 80%;
                object-fit: contain;
                object-position: center;
              }
            }
          }
        }
      }
    }
    &.animated-container {
      padding: u.rem(150) u.rem(25);

      @include u.breakpoint-max(medium) {
        padding: u.rem(0) u.rem(25) u.rem(50) u.rem(25);
        position: relative;
      }

      .animated-wrapper {
        position: relative;
        h2 {
          text-align: left;
          font-weight: 600;
          @include u.breakpoint-max(medium) {
            margin-bottom: u.rem(30);
            padding-top: u.rem(250);
          }
        }

        .animated-content {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;

          .animated-content-img {
            text-align: center;
            width: 40%;
            img {
              width: 100%;
              height: auto;
              max-width: 100%;

              @include u.breakpoint-max(medium) {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: 15rem;
              }
            }
          }
          .animated-content-desc {
            width: 60%;
            p {
              font-size: u.rem(16);
              font-weight: 400;
              letter-spacing: u.rem(0.9);
              line-height: u.rem(24);
              color: #000;
              margin-bottom: 1.5rem;
            }

            a {
              display: none;
              @include u.breakpoint-max(medium) {
                text-decoration: none;
                display: inline-block;
                width: u.rem(360);
                font-weight: 500;

                font-size: u.rem(20);
                line-height: u.rem(70);
                width: 100%;

                background-color: u.$primary-color;
                color: u.$background-color;
                z-index: 2;
                position: relative;
                overflow: hidden;
                text-align: center;
                &:hover {
                  &::after {
                    left: 0;
                    right: auto;
                    width: 150%;
                  }
                }

                &::after {
                  content: "";
                  background: #108f4e;
                  right: -20%;
                  z-index: -1;
                  width: 0%;
                  -webkit-transform: skew(-45deg);
                  transform: skew(-45deg);
                  -webkit-transform-origin: 100% 0;
                  transform-origin: 100% 0;
                  -webkit-transition: width 0.4s ease-in-out;
                  transition: width 0.4s ease-in-out;

                  position: absolute;
                  top: 0;
                  display: block;
                  height: 100%;
                }
              }
            }
          }

          & > div {
            @include u.breakpoint-max(medium) {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}
